<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap and Css -->
    <link rel="icon" href="/assets/img/Burger.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/burger_style.css">

    <!-- Link in jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    
    <title>EAT DA BURGER</title>
  </head>

  <body>
  
    <div class="container">

      <!-- Burger Image -->
      <center><div class="row"><img src="/assets/img/Burger.png"></div> </center>
          
      <!-- Page Title -->
      <center><h1 class="burger_font">Eat Da Burger! </h1></center>

      <br>
      <!-- Burger Content from index.handlebars -->
      {{{body}}}
      <br>

      <!-- Input Form -->
      <form action="burger/create" method="POST"> 
        
        <!-- Text Area Input -->
        <div class="row">
         
          <div class="col-md-3"></div> 

          <!-- Burger Input Box -->
          <div class="form-group col-md-6">
            <center><label for="new_burger" class="red_font">Request a New Burger...</label></center>
            <text class="form-control" columns="8" rows="4" id="new_burger" name="burger_name"></text>
          </div>

          <!-- Empty Div to center text -->
          <div class="col-md-3"></div> 

        </div>
      
        <!-- Submit Button -->
        <center> <button id="submit-button" type="submit" class="btn btn-danger">Place Order</button></center>

      </form>

    </div>
 
  </body>
</html>